[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "==4.6.1"
telegram-menu = "==0.3.15"
marshmallow = "==3.18.0"
werkzeug = "==2.2.2"
flask-caching = "==2.0.2"

[dev-packages]

[requires]
python_version = "3.10"
